* {
margin:0;
padding:0;
}
body {
	background-image: url(../images/002.jpg)  ;
}
.logo {
	margin:30px 30% 0 30%;
	text-align:center;
}

/* for nav bar style */
.nav {
/*
background-image: url(../images/003.jpg) no-repeat top;
*/
width:20%;
margin-left:100px;
margin-top:50px;
}
.nav ul {
	list-style:none;
}
.nav li {
	height:50px;
	margin-top:10px;
	display:block;
	
}
.nav a {
	text-decoration:none;
}
/* for footer style */
.footer {
	display:inline;
	margin:0 auto;
}
.footer a {
	text-decoration:none;
}
.footer li {
	display:inline;
	padding-left:20px;
}
.footer first-child {
	padding-right:300px;
}